body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
}

header {
    width: 100px;
    margin: 130px auto 70px;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: hsl(183, 20%, 36%);
    letter-spacing: 10px;
}

.keret {
    box-sizing: border-box;
    width: 900px;
    height: 420px;
    margin: auto;
    padding: 29px;
    background-color: hsl(0, 0%, 99%);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    color: hsl(180, 5%, 54%);
    font-size: 10px;
    font-weight: 700;
}

.entering {
    padding: 20px;
    width: 400px;
}

.resulting {
    padding: 20px;
    width: 400px;
    color: hsl(187, 19%, 54%);
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
}

#amount,
#person {
    display: block;
    border: 2px solid hsl(0, 0%, 99%);
    width: 90%;
    margin: 10px 0;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    color: hsl(180, 10%, 69%);
    text-align: right;
}

#amount:hover,
#person:hover {
    border: 2px solid cyan;
    border-radius: 4px;
    cursor: pointer;
}

#custom {
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    color: hsl(183, 100%, 15%);
}

.percent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.percent input {
    width: 120px;
    height: 45px;
    margin: 10px 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    text-align: center;
    color: hsl(180, 100%, 97%);
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 3px;
}

.btn {
    background-color: hsl(183, 100%, 15%);
}

.btn:hover {
    background-color: hsl(173, 61%, 77%);
}

.amount {
    color: hsl(171, 67%, 47%);
}

.amountlabel {
    color: hsl(180, 100%, 97%);
}

.person {
    color: hsl(187, 19%, 54%);
}