body {
    background-color: hsl(185, 41%, 80%);
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
}

header {
    width: 100px;
    margin: 100px auto;
    text-align: center;
    color: hsl(183, 23%, 31%);
    font-weight: 400;
    letter-spacing: 10px;
}

h1 {
    margin: 0;
}

.keret {
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
}

.entering {
    padding: 20px;
    width: 400px;
}

.resulting {
    padding: 20px;
    width: 400px;
    color: hsl(187, 19%, 54%);
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
}

input {
    display: block;
}

#custom {
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    color: hsl(183, 100%, 15%);
}

.percent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.percent input {
    width: 120px;
    height: 45px;
    margin: 10px 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    color: hsl(180, 100%, 97%);
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 3px;
}

.btn {
    background-color: hsl(183, 100%, 15%);
}

.btn:hover {
    background-color: hsl(173, 61%, 77%);
}

.amount {
    color: hsl(171, 67%, 47%);
}

.amountlabel {
    color: hsl(180, 100%, 97%);
}

.person {
    color: hsl(187, 19%, 54%);
}